<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title th:text="'에러 - '+ ${code}">에러</title>
  <link rel="stylesheet" th:href="@{/css/error/custom-error.css}">
</head>
<body>
<main>
  <section class="section error-section">
    <div class="error-inner">
      <div class="about-image">
        <!--        <img src="/img/about-office.jpg" alt="공유오피스 소개" />-->
      </div>
      <div class="error-text">
        <h2 th:text="${status + ' 오류 발생'}"></h2>
        <p th:text="${message}">에러 메시지</p>
      </div>
    </div>
  </section>

</main>

</body>
</html>