<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/admin}">
<head>
  <title>관리자 화면</title>
  <link rel="stylesheet" th:href="@{/css/admin/banner/banner-manage.css}">
</head>
<body>

<section layout:fragment="admin-content">   <!-- Main Content -->

  <h1 class="main-title">배너 관리</h1>

  <div class="content-container">
    <!-- 상단 검색 영역 -->
    <form id="searchForm" class="search-area" th:action="@{/admin/banner}">
      <div class="form-group">
        <label for="searchBannerName">배너 명</label>
        <input type="text" id="searchBannerName" name="searchBannerName">
        <button type="submit" id="searchBtn">검색</button> <!-- 2. 검색 버튼 -->
      </div>
      <!-- 1. 등록 버튼 (검색 영역 오른쪽에 배치) -->
      <button type="button" id="registerBtn" class="register-button"
              onclick="location.href='/admin/banner/regist'">배너 등록</button>
    </form>

    <!-- 결과 테이블 영역 -->
    <div class="table-area">
      <table class="results-table">
        <thead>
          <tr>
            <th>번호</th>
            <th class="col-order">순서</th>
            <th class="col-preview">미리보기</th>
            <th class="col-title">배너명/대체 텍스트</th>
            <th>시작일</th>
            <th>종료일</th>
            <th class="col-status">상태</th>
            <th class="col-actions">관리</th>
          </tr>
        </thead>
        <tbody id="resultsBody">
          <!-- 동적리스트 -->
          <tr class="banner-item" th:each="banner : ${bannerList}">
            <td th:text="${banner.bNo}"></td>
            <td th:text="${banner.sortOrder}"></td>
            <td><img th:src="${banner.bImageUrl}" alt="" class="banner-thumbnail"></td>
            <td th:text="${banner.bTitle}"></td>
            <!--          <td><a th:href="/products/new?season=fw" target="_blank" title="/products/new?season=fw">/products/new...</a></td>-->
            <td th:text="${#temporals.format(banner.startDt, 'yyyy-MM-dd')}"></td>
            <td th:text="${#temporals.format(banner.endDt, 'yyyy-MM-dd')}"></td>
            <td>
              <span class="status-text status-active" th:text="${banner.useAt}"></span>
            </td>
            <td class="actions">
              <a th:href="@{/admin/banner/edit/{bNo}(bNo=${banner.bNo})}" class="btn btn-secondary btn-sm btn-edit">수정</a>
              <button type="button" class="btn btn-danger btn-sm btn-delete" th:data-bno="${banner.bNo}">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section >
<th:block layout:fragment="page-script">
  <!-- 커스텀 JavaScript -->
  <script th:src="@{/js/admin/banner/banner-manage.js}"></script>
</th:block>
</body>
</html>